<div class="fondo-rgba">
  <div class="container-fluid padding-container">
    <h1 class="text-center mb-5 text-white">Mis Viajes Programados</h1>

    <div class="row">
        <div class="col m-4">
            <div class="card">
                <div class="card-header p-2">
                    Viaje a la Playa
                </div>
                <div class="card-body p-4">
                    <div class="d-flex align-items-center mb-3 gap-2">
                        <div class="icon-container mr-2">
                          <i class="bi bi-calendar-check-fill custom-icon text-danger"></i>
                        </div>
                        <div>
                            <h5 class="card-title mb-0">Fecha: 15 de Julio, 2023</h5>
                            <p class="card-text text-muted">Hora de salida: 08:00 AM</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3 gap-2">
                        <div class="icon-container  mr-2">
                          <i class="bi bi-geo-alt-fill custom-icon text-info"></i>
                        </div>
                        <div>
                            <h5 class="card-title mb-0">Origen: Ciudad Central</h5>
                            <p class="card-text text-muted">Destino: Playa Paraíso</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3 gap-2">
                        <div class="icon-container  mr-2">
                          <i class="bi bi-people-fill custom-icon text-success"></i> <!-- Grupo de personas -->
                        </div>
                        <div>
                            <h5 class="card-title mb-0">Pasajeros: 4</h5>
                            <p class="card-text text-muted">Vehículo: SUV</p>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary p-2">Ver Detalles</a>
                </div>
            </div>
        </div>

        <div class="col mb-4 m-4">
            <div class="card">
                <div class="card-header p-2">
                    Viaje de Negocios
                </div>
                <div class="card-body p-4">
                    <div class="d-flex align-items-center mb-3 gap-2">
                        <div class="icon-container mr-2">
                             <i class="bi bi-calendar-check-fill custom-icon text-danger"></i>
                        </div>
                        <div>
                            <h5 class="card-title mb-0">Fecha: 20 de Julio, 2023</h5>
                            <p class="card-text text-muted">Hora de salida: 10:30 AM</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3 gap-2">
                        <div class="icon-container  mr-2">
                           <i class="bi bi-geo-alt-fill custom-icon text-info"></i>
                        </div>
                        <div>
                            <h5 class="card-title mb-0">Origen: Aeropuerto Internacional</h5>
                            <p class="card-text text-muted">Destino: Centro de Convenciones</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3 gap-2">
                        <div class="icon-container">
                          <i class="bi bi-people-fill custom-icon text-success"></i> <!-- Grupo de personas -->
                        </div>
                        <div>
                            <h5 class="card-title mb-0">Pasajeros: 2</h5>
                            <p class="card-text text-muted">Vehículo: Sedán Ejecutivo</p>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary p-2">Ver Detalles</a>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="#" class="btn btn-primary btn-lg p-2">Programar Nuevo Viaje</a>
    </div>
  </div>

</div>

