.credit-card-icons {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.credit-card-icons i {
  margin-right: 0.5rem;
}
.fondo-rgba{
  background: rgba(0, 0, 0, 0.6); /* Cambia los valores de RGBA según necesites */
  min-height: 100%;
  height: auto;
  width: 100%;
}

.img-icon{
  width: auto;
  height: 36px;
}
