<div class="container-fluid d-flex justify-content-center fondo-rgba">
  <div class="container py-5">
    <h1 class="text-center mb-5 text-white">Elige tu método de pago</h1>
    <div class="row justify-content-center gap-4">
        <div class="col-md-5 mb-4">
            <div class="card payment-option h-100">
                <div class="card-body text-center d-flex flex-column justify-content-between">
                    <div>
                        <i class="bi bi-phone payment-icon text-primary"></i>
                        <h2 class="card-title h4 mb-3">Pagar con Yape</h2>
                        <p class="card-text">Realiza tu pago de forma rápida y segura usando Yape.</p>
                    </div>
                    <button class="btn btn-primary mt-3" routerLink="/workspace/YapePayment">Elegir Yape</button>
                </div>
            </div>
        </div>
        <div class="col-md-5 mb-4">
            <div class="card payment-option h-100">
                <div class="card-body text-center d-flex flex-column justify-content-between">
                    <div>
                        <i class="bi bi-credit-card payment-icon text-primary"></i>
                        <h2 class="card-title h4 mb-3">Pagar con Tarjeta</h2>
                        <p class="card-text">Usa tu tarjeta de crédito o débito para realizar el pago.</p>
                    </div>
                    <button class="btn btn-primary mt-3" routerLink="/workspace/CardPayment">Elegir Tarjeta</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

