/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=SUSE:wght@100..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
*{
  box-sizing: border-box !important;
  font-family: "Sour Gummy", serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
  font-variation-settings:
    "wdth" 100;
    margin: 0 !important;
    padding: 0 !important;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
